In [1]:
import pandas as pd

In [5]:
lunch_spots = pd.read_csv('https://raw.githubusercontent.com/ledeprogram/courses/master/foundations/mapping/tilemill/yelp-lunch-nyc.csv')

In [14]:
ratings = lunch_spots.Rating

In [122]:
unique_lunch_spots = lunch_spots[~lunch_spots.Name.duplicated()]
ratings.index.tolist()

ratings.to_dict()

In [21]:
ratings.index = lunch_spots.Name

In [42]:
unique_restaurants = ratings[~ratings.index.duplicated()]

ratings.index.unique()

ratings.index

In [48]:
unique_restaurants.describe()

count    1499.000000
mean        3.818546
std         0.570845
min         1.500000
25%         3.500000
50%         4.000000
75%         4.000000
max         5.000000
Name: Rating, dtype: float64

In [58]:
unique_ratings = ratings.index.drop_duplicates()

ratings.groupby(ratings).count()

In [79]:
hist = ratings.value_counts()

In [80]:
hist.sort_values()

1.0       1
1.5       9
2.0      33
5.0     124
2.5     138
3.0     400
4.5    1202
3.5    1308
4.0    2596
Name: Rating, dtype: int64

In [83]:
hist.tail()

2.5    138
5.0    124
2.0     33
1.5      9
1.0      1
Name: Rating, dtype: int64

In [87]:
pd.Series(data = [1, 2, 3, 4], index =['a', 'b', 'c', 'd'])

a    1
b    2
c    3
d    4
dtype: int64

### dataframe

In [93]:
lunch_spots.columns

Index(['Name', 'Address', 'City', 'Category', 'Rating', 'URL'], dtype='object')

In [ ]:
lunch_spots.loc[1:10, ['Name', 'Address']]

In [ ]:
lunch_spots.iloc[1:10, 0:]

In [101]:
lunch_spots.describe()

lunch_categories = lunch_spots.groupby('Category').count()['Name']
lunch_categories.sort_values(ascending=False)

            Rating
count  5811.000000
mean      3.892015
std       0.523376
min       1.000000
25%       3.500000
50%       4.000000
75%       4.000000
max       5.000000