In [2]:
msas_url = "https://en.wikipedia.org/wiki/List_of_metropolitan_statistical_areas"

In [3]:
import pandas as pd

In [4]:
msas = pd.read_html(msas_url)

In [5]:
msa_data = msas[1]

In [6]:
msa_data.columns = msa_data.iloc[0, :]

In [7]:
msa_df = msa_data.iloc[1:, 1:]

In [8]:
estimate_2017 = msa_df['2017 Estimate']

In [19]:
import numpy as np

In [22]:
import pandas as pd

In [18]:
estimate_2017.groupby()

1      20320876
2      13353907
3       9533040
4       7399662
5       6892427
6       6216589
7       6158824
8       6096120
9       5884736
10      4836531
11      4737270
12      4727357
13      4580670
14      4313002
15      3867046
16      3600618
17      3337685
18      3091399
19      2888227
20      2808175
21      2807338
22      2525305
23      2509831
24      2473974
25      2453168
26      2333367
27      2324884
28      2204079
29      2179082
30      2128912
         ...
354       99703
355       99646
356       98837
357       98658
358       98327
359       98080
360       97613
361       97502
362       97041
363       96782
364       93553
365       90963
366       90951
367       90898
368       86352
369       85557
370       85269
371       85045
372       84204
373       83411
374       82363
375       82040
376       81654
377       80400
378       79547
379       77909
380       64614
381       62920
382       61581
383       54745
Name: 2017 Estimate, Length: 383, dtype: object

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [25]:
s = pd.Series([1,3,5,np.nan,6,8])

In [26]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [27]:
s.describe()

count    5.000000
mean     4.600000
std      2.701851
min      1.000000
25%      3.000000
50%      5.000000
75%      6.000000
max      8.000000
dtype: float64

In [29]:
s.at[2]

5.0