In [2]:
my_list = [1, 2]

In [5]:
{1, 3}.product

AttributeError: 'set' object has no attribute 'product'

In [6]:
from itertools import product

In [12]:
products = list(product([1, 2], [3, 4]))

In [13]:
import pandas as pd

In [14]:
pd.DataFrame(products)

   0  1
0  1  3
1  1  4
2  2  3
3  2  4